@import "tailwindcss";

@theme inline {
  --color-matrix-black: #050505;
  --color-matrix-green: #00FF41;
  --color-matrix-dark-green: #003B00;
  --color-matrix-glowing: #008F11;

  --font-mono: var(--font-space-mono);
  --font-terminal: var(--font-vt323);

  --animate-cursor-blink: cursor-blink 1s step-end infinite;
  --animate-scanline: scanline 8s linear infinite;

  @keyframes cursor-blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  @keyframes scanline {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(100%);
    }
  }
}

/* Custom Utilities */
@utility scanline-effect {
  @apply pointer-events-none fixed inset-0 z-50 overflow-hidden;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2));
  background-size: 100% 4px;
}

@utility crt-overlay {
  @apply pointer-events-none fixed inset-0 z-40;
  background: radial-gradient(circle, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 100%);
}

body {
  @apply bg-black text-green-500 font-mono;
}